<!DOCTYPE html>
<html>

<head>
    <!-- Meta tags and Open Graph properties -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Affiliate Marketplace Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="html, css, sass, marketplace, template" />
    <meta name="author" content="Natalia Gonzalez" />
    <meta property="og:title" content="Affiliate Marketing Templates" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="Website" />
    <meta property="og:image" content="assets/css/screenshot.png" />
    <title>Affiliate Marketing Template</title>

    <!-- Stylesheet, Google Fonts and Favicon -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png" />

</head>

<body>
</body>
</html>