// Modify Contact section here
#contact {
    background: #d7d7d7;
    padding: 50px 100px 150px 100px;
    text-align: center;
    font-family: $ff;
    font-size: 16px;
    border-top: 3px solid #ffffff;
}

// Customize Contact Us title here
#contactUsTitle {
    margin-bottom: 30px;
}