h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
    letter-spacing: 1.2px;
    font-weight: 800;
    color: #141617;
    margin-top: 60px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 27px;
    letter-spacing: 1.2px;
    font-style: italic;
    color: #32373b;
    margin-top: 0px;
    margin-bottom: 50px;
}

h3 {
    font-family: $ff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    @include tablet {
        font-size: 28px;
        letter-spacing: 1px;
    }
}

h5 {
    font-family: $ff2;
    letter-spacing: 1.2px;
    font-style: bold;
}

#compName {
    font-weight: 900;
    color: #d15935;
}