// Modify Nav Bar and its selectors here
.nav {
    background: #646e76;
    text-align: center;
    height: auto;
    min-height: 70px;
    line-height: 70px;
}

// Modify Menu margins below
.menu {
    margin: 0 30px 0 0;
}

// Modify menu link properties below
.menu a {
    clear: right;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    line-height: 70px;
    font-family: $ff;
    transition: .3s background-color;
    font-weight: 800;
    letter-spacing: 1.5;
    font-size: 27px;
    padding-left: 10px;
    padding-right: 10px;
}

// Modify menu links (when hovered) below
.menu a:hover {
    background-color: #d15935;
    padding-top: 25px;
    padding-bottom: 25px;
}

// Modify label of menu link below
label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

// Toggle checkbox does not display
#toggle {
    display: none;
}

// Modify menu, label and toggle when in mobile view
@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }

    .menu a:hover {
        background-color: #d15935;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #toggle:checked + .menu {
        display: block;
    }
}