.products {
    @include desktop {
        display: flex;
        justify-content: space-around;
    }
};

.row-1 {
    @include tablet {
        border: 2px #d15935 dotted;
    }
    
    @include desktop {
        flex-basis: 30%;
        border: 2px #d15935 dotted;
    }
}

