$ff: 'Quicksand', sans-serif;
$ff2: 'Poppins', sans-serif;
$margin: 0 auto;

@mixin bg-gradient($angle: 200deg, $color: #b0cce0, $color2: #efdb81, $amount: 40%) {
    background: linear-gradient($angle, $color, $color2, adjust-hue($color, $amount)) fixed;
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 10px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

body {
    @include bg-gradient;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: $ff;
    font-size: 75px;
    color: #ffffff;
    text-align: center;
    margin: $margin;
    margin-top: 100px;
    @include text-shadow;
}

h2 {
    font-family: $ff;
    font-style: italic;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    margin: $margin;
    @include text-shadow;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

@mixin button-bg($bg) {
    background: $bg;
    &:hover {
        background: darken($bg, 8%);
        transition: all 0.3s ease;
    }
    &:active {
        background:darken($bg, 25%);
    }
}

%button-style {
    background: #d2d2d2;
    padding: 10px 30px;
    color: #000000;
    letter-spacing: 1px;
    font-family: $ff2;
    text-decoration: none;
    font-size: 14px;
    -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .4), inset -1px -1px 1px #d3d3d3;
    border-radius: 5px 5px 5px 5px;
    margin: $margin;
}

#downloadButton, #repoButton {
    @include button-bg(#d2d2d2);
    @extend %button-style;
}