// Sass variables for responsiveness
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

// Imports background gradient mixin for the background
@import "bg";

// Imports variables, mixin and properties related to the text
@import "text";

// Imports extended CSS selectors, mixins and properties related to the buttons
@import "buttons";

// Imports variables, properties, mixins and keyframes related to the header image
@import 'headerimg';