// Customize the about section here
#about {
    background: #c8c2c5;
    padding: 50px 100px 100px 100px;
    text-align: center;
    font-family: $ff;
    font-size: 16px;
    line-height: 2;
    border-top: 3px solid #ffffff;
}

// Customize the About Us title
#aboutUsTitle {
    margin-bottom: 30px;
}