body { background: linear-gradient(200deg, #b0cce0, #efdb81, #b4b0e0) fixed; margin: 0px; padding: 0px; }

h1 { font-family: "Quicksand", sans-serif; font-size: 75px; color: #ffffff; text-align: center; margin: 0 auto; margin-top: 100px; }

h2 { font-family: "Quicksand", sans-serif; font-style: italic; font-size: 60px; color: #ffffff; text-align: center; margin: 0 auto; }

.container { display: flex; align-items: center; justify-content: center; margin-top: 50px; }

#downloadButton, #repoButton { padding: 10px 30px; background: #d2d2d2; color: #000000; letter-spacing: 1px; font-family: "Quicksand", sans-serif; -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4), inset -1px -1px 1px #d3d3d3; -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4), inset -1px -1px 1px #d3d3d3; box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4), inset -1px -1px 1px #d3d3d3; border-radius: 5px 5px 5px 5px; margin: 0 auto; }
